h1{
  color: #f6f6f6;
  background-color: rgb(20, 0, 245);
  
}

.items{
  font-family: 'Times New Roman', Times, serif;
  color: rgb(20, 0, 245);
  font-size : 50px;
  font-weight: bold;
  border: 2px solid ;
}